extends layout

block content
  h1.text-center Home Weather Report
  div#temp
  div#hum

  .row(style='margin-top:20px;')
    .col-md-12
      p I mostly did this project to get started with arduino hacking. Also because I think my thermostat is just shitty, and I wanted to prove that.
      h2 Setup:
      ul
        li arduino measures the temperature and humidity every 10mns
        li raspberry listens to serial port and export data to a mongodb database
        li simple express app serves what you're actually reading (deployed on heroku)
  .row.text-center
    .col-md-12
      img(src='/images/setup.jpg' style='max-height:300px')
  .row
    .col-md-12
      a(href='https://github.com/aherve/weatherReport') source code here.
      p disclaimer : this is an absolute arduino/raspberry beginner project.

  script(src='javascripts/draw.js')
